html {
	height: 100vh;
	width: 100vw;
}

body {
	border: 0px;
	margin: 2px;
	background: radial-gradient(#517185,#8DD3FF);
}

/*Heading*/
h1 {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	color: #27506A;
	opacity: 0.8;
}

/*Multiple choice container*/
.options {
	display: flex;
	font-size: 5em;
	gap: 20px;
	justify-content: left;
	border-top: inset 4px;
	border-bottom: inset 4px;
	border-color: black;
	border-radius: 20px;
	padding: 10px;
}

/*Multiple choice dropdown */
select {
	font-family: Arial, sans-serif;
	position: absolute;
	font-size: 1em;
	background:#8DD3FF ;
	color: black;
	border-radius: 10px;

}

#result {
	font-family: Arial, sans-serif;
	display: flex;
	margin-left: 400px;
	color: #DCFFBF;
}

/*Randomize button container*/
#buttonDiv {
	display: flex;
	justify-content: center;
}

/*Randomize button*/
button {
	font-family: Arial, sans-serif;
	margin-top: 120px;
	font-size: 4em;
	background: radial-gradient(#E7F776 , #76F7E7);
	color: black;
	width: 100%;
}



/*WOTW Title Container*/
#WOTW {
	display: table;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 220px;
	font-size: 2.5em;
	width: 500px;
	position: static;
}
/*WOTW Title*/
span {
	font-family: Arial, sans-serif;
	border: solid 4px;	
	border-color: black;
	background: #8DD3FF;
	color: #27506A;
	margin: 20px;
	text-shadow:  1px 1px #FFFFFF ;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/*WOTW container*/
#wordsOfTheWeek {
	text-align: center;
	justify-content: center;
	padding: 0px;
	border: solid 4px;	
	border-radius: 10px;
	background: #70B9E7;
	font-size: 2.5em;
	margin-left: auto;
	margin-right: auto;
	position: static;
}
/*WOTW*/
p {
	font-family: Arial, sans-serif;
	text-shadow:  1px 1px #FFFFFF ;
	background: #8DD3FF;
	padding: 0px;
	color: #27506A ;
	border: solid 4px;
	border-radius: 10px;
	margin: 20px;
}

/*Difficulty borders*/
#newWord1 {
	border-color: #8AF730;
	border-radius: 10px;
}
#newWord2 {
	border-color: #FFFB00;
	border-radius: 10px;
}
#newWord3 {
	border-color: #6400FF;
	border-radius: 10px;
}
#newWord4 {
	border-color: #F93A2A;
	border-radius: 10px;
}

a:link {
	color: black;
}

a:visited{
	color: black;
}

footer {
	font-family: Arial, sans-serif;
	font-size: 2em;
	margin-top: 5px;
	/*position: absolute;*/
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}