.navBar {
 padding-bottom: 2.5em;
}

h1 {
    font-size: 3em;
}

.links {
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color:white;
}

a {
    font-size: 2em;
    padding:2em;
}